{%extends 'base.html.twig' %}

{% block title "Gérer les restaurants" %}

{% block body %}
    <div class="container mt-4">

        <h1>Gérer les restaurant</h1>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.title }}</td>
                <td>
                    <a href="{{ path('admin.restaurant.edit', {id: restaurant.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.restaurant.delete', {id: restaurant.id}) }}" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.restaurant.new') }}" class="btn btn-primary">Ajouter un nouveau restaurant</a>
        </div>

    </div>

{% endblock %}